<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

	<!-- Define que todos los repositorios usaran Nexus -->

  <servers>
		<server>
			<id>nexus</id>
			<username>maven</username>
			<password>${env.NEXUS_PASSWORD}</password>
		</server>
	</servers>

	<mirrors>
		<mirror>
			<id>nexus</id>
			<url>{{NEXUS_URL}}</url>
			<mirrorOf>*</mirrorOf>
		</mirror>
	</mirrors>

	<!-- Define repositorios logicos, pero como esta forzado el mirrorOf no aplica -->
	<profiles>
		<profile>
			<id>nexus</id>
			<repositories>
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>

	<!-- Activa el profile para este proyecto-->
	<activeProfiles>
		<activeProfile>nexus</activeProfile>
	</activeProfiles>

</settings>
